*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons{
    display: flex;
    width: 98%;
    justify-content: space-between;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;
}

button{
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    border: 2px solid #333;
    border-radius: 50%;
}
.left-btn{
    background-color: #333;
}
.right-btn{
    background-color: aqua;
}

#slideContainer {
    border: 2px solid #333;
    width: 70vw;
    height: 50vh;
    margin: 2rem auto;
    position: relative;
    overflow: hidden; 
  }
  
  #slider {
    height: 100%;
    width: 100%; 
    display: flex;
    position: relative;
    transform: translateX(0%);
    /* transition: transform 0.5s ease; */
  }
  
  .slide {
    height: 100%;
    flex-basis: 100%;
    flex-shrink: 0;
  }

#pagination{
    width: 90%;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.pag-btn{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: cornsilk;
    border: 2px solid #333;
    margin: 0 0.2rem;
}

.active{
    background-color: #333;
}

